
/*
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
     Config to store the paths/labels to the different reference databases
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

params {

    // BOLD databases
    bold_db_fasta = "/hps/nobackup/rdf/metagenomics/service-team/collaborators/christina/BOLD_ref_local/BOLD_COI5P_final.fasta"
    bold_db_tax = "/hps/nobackup/rdf/metagenomics/service-team/collaborators/christina/BOLD_ref_local/bold_taxonomy.tax"
    bold_db_otu = "/hps/nobackup/rdf/metagenomics/service-team/ref-dbs/amplicon_pipeline/SILVA-SSU/138.1/SILVA-SSU.otu" // we do not use OTUs for BOLD
    bold_db_mscluster = "/hps/nobackup/rdf/metagenomics/service-team/collaborators/christina/BOLD_ref_local/BOLD_COI5P_final.fasta.mscluster"
    bold_label = "BOLD"

    dada2_bold_label = "DADA2-BOLD"

    // Standard primer library
    std_primer_library = ""

}

